:root {
    --Background: linear-gradient(90deg, rgba(34,34,34) 0%, rgba(24,24,24) 50%, rgba(6,6,6) 100%);
    --Text-principal: rgb(245, 245, 245);
    --Text-brown-secondary: rgb(88, 63, 52);
    --Containers-brown-principal: rgb(26, 12, 5);
    --Containers-yellow-secondary: rgb(241, 204, 60);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--Background);
    background-repeat: no-repeat;
    color: var(--Text-principal);
    position: relative;
}
a {
    text-decoration: none;
    color: var(--Text-brown-secondary);
}
h1, h2, h3 {
    font-family: 'Lobster', cursive;
}
p, a, button {
    font-family: 'Cabin', sans-serif;
}
/* ---- HEADER ---- */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
header img {
    display: none;
}
header h1 {
    font-size: 50px;
}
header button {
    display: none;
}
/* ---- MAIN ---- */
main{
    /* border: 2px solid cadetblue; */
    width: 370px;
    height: 1400px;
    margin: 0 auto 0 auto;
}
.hamburguesa {
    position: absolute;
}
.hamburguesa .burguer{
    position: absolute;
    width: 300px;
    height: auto;
    left: -140px;
}
.hamburguesa .salt {
    position: absolute;
    width: 160px;
    height: auto;
    left: 210px;
    top: 120px;
}
.hamburguesa .humo {
    position: absolute;
    width: 280px;
    height: auto;
    left: 80px;
    top: 840px;
    transform: rotateY(180deg);
}
.hamburguesa .titulos-hamburguesa div img {
    width: 100px;
    height: auto;
}
.pan-top, .tocino, .tomate, .carne, .lechuga, .pan-bottom {
    position: absolute;
    left: 140px;
}
.pan-top img, .tocino img, .tomate img, .carne img, .lechuga img, .pan-bottom img {
    transform: rotate(180deg);
}
.titulos-hamburguesa p {
    position: absolute;
    font-size: 26px;
    font-weight: bolder;
    left: 90px;
}
.pan-top {
    top: 80px;
}
.tocino {
    top: 220px;
}
.tomate {
    top: 350px;
}
.tomate img {
    transform: rotateZ(-170deg);
}
.carne {
    top: 480px;
}
.lechuga {
    top: 640px;
}
.lechuga img {
    transform: rotate(210deg);
}
.pan-bottom {
    top: 770px;
}
.pan-bottom img {
    transform: rotate(210deg);
}


.french-fries {
    width: 100%;
    position: absolute;
    bottom: 140px;
}
.french-fries img {
    position: absolute;
}
/* ---- FOOTER ---- */
footer {
    background: var(--Containers-brown-principal);
    position: absolute;
    bottom: 0;
    width: 100%;
}







/* =-=-=-=- MEDIAS QUERIES =-=-=-=- */
@media (min-width: 650px) {
    header img {
        display: block;
    }
    header button {
        display: block;
    }

}
@media (min-width: 950px) {

}