:root {
    --Background: linear-gradient(90deg, rgba(34,34,34) 0%, rgba(24,24,24) 50%, rgba(6,6,6) 100%);
    --Text-principal: rgb(245, 245, 245);
    --Text-brown-secondary: rgb(88, 63, 52);
    --Containers-brown-principal: rgb(26, 12, 5);
    --Containers-yellow-secondary: rgb(241, 204, 60);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--Background);
    background-repeat: no-repeat;
    color: var(--Text-principal);
    width: 375px;
    height: 1200px;
    position: relative;
    border: 2px solid cadetblue;
}
a {
    text-decoration: none;
    color: var(--Text-brown-secondary);
}
h1, h2, h3 {
    font-family: 'Lobster', cursive;
}
p, a, button {
    font-family: 'Cabin', sans-serif;
}
/* ---- HEADER ---- */

/* ---- MAIN ---- */
.hamburguesa {
    position: absolute;
}
.hamburguesa img{
    position: absolute;
    width: 300px;
    height: auto;
    left: 220px;
}
.titulos-hamburguesa div img {
    width: 100px;
    height: auto;
}
.pan-top, .tocino, .tomate, .carne, .lechuga, .pan-bottom {
    position: absolute;
    left: 120px;
}
.pan-top {
    top: 140px;
}
.tocino {
    top: 280px;
}
.tomate {
    top: 410px;
}
.carne {
    top: 540px;
}
.lechuga {
    top: 680px;
}
.pan-bottom {
    top: 820px;
}


.french-fries {
    width: 100%;
    position: absolute;
    bottom: 140px;
}
.french-fries img {
    position: absolute;
}
/* ---- FOOTER ---- */
footer {
    background: var(--Containers-brown-principal);
    position: absolute;
    bottom: 0;
    width: 100%;
}







/* =-=-=-=- MEDIAS QUERIES =-=-=-=- */
@media (min-width: 650px) {

}
@media (min-width: 950px) {

}